/* Setting Initail Styles */
:root {
  /* colors */
  --middle-blue-green: hsl(176, 35%, 63%);
  --sonic-silver: hsl(0, 0%, 44%);
  --eerie-black: hsl(0, 0%, 9%);
  --ocean-green: hsl(148, 45%, 58%);
  --candy-pink: hsl(356, 65%, 63%);
  --cultured: hsl(0, 0%, 96%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  /* Typography */
  --ff-jost: "Jost", sans-serif;

  --fs-1: 2.5rem;
  --fs-2: 1.75rem;
  --fs-3: 1.625rem;
  --fs-4: 1.5rem;
  --fs-5: 1.375rem;
  --fs-6: 1.25rem;
  --fs-7: 1.125rem;
  --fs-8: 0.938rem;
  --fs-9: 0.875rem;
  --fs-10: 0.813rem;

  --fw-500: 500;
  --fw-600: 600;

  /* Transition */
  --transition-1: 0.25s ease;
  --transition-2: 0.75s ease;
  --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);

  /* Spacing */
  --section-padding: 60px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
a,
span,
input,
button,
ion-icon {
  display: block;
}

input,
button {
  background-color: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
  outline-color: var(--middle-blue-green);
}

button {
  text-align: left;
  cursor: ponter;
  background: var(--white);
}

img {
  height: auto;
}

ion-icon {
  pointer-events: none;
}

html {
  font-family: var(--ff-jost);
  color: var(--sonic-silver);
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  padding-block: 70px;
}

.container {
  padding-inline: 15px;
}

.btn {
  background: var(--background, var(--eerie-black));
  color: var(--color, var(--white));
  font-weight: var(--fw-600);
  height: var(--height, 60px);
  padding-inline: 50px;
  border: 1px solid var(--border-color, var(--eerie-black));
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-secondary {
  --height: 50px;
  --background: var(--white);
  --color: var(--eerie-black);
  --border-color: var(--white);
}

.btn-secondary:is(:hover, :focus) {
  --background: var(--eerie-black);
  --color: var(--white);
  --border-color: var(--eerie-black);
}
.section {
  padding-block: var(--section-padding);
}
.w-100 {
  width: 100%;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
}
/* *********************************** */

/* .overlay  */
/* .header-actions, */
/* .navbar, */
.header-search {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--white);
  width: 100%;
  padding-block: 20px;
  z-index: 4;
  transition: var(--transition-1);
}

.header.active {
  position: fixed;
  box-shadow: 0 5px 20px hsla(0, 0%, 0%, 0.1);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-open-btn {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
}
.nav-open-btn span {
  width: 20px;
  height: 2px;
  background: var(--black);
  transform: var(--transition-1);
}

.nav-open-btn span:nth-child(2) {
  transform: scaleX(0.5);
  transform-origin: right;
}

.nav-open-btn:is(:hover, :focus) span:nth-child(2) {
  transform: scaleX(1);
}

.header-actions {
  background: var(--white);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  padding-block: 16px 20px;
  box-shadow: 0 -2px 20px hsla(0, 0%, 0%, 0.1);
  z-index: 1;
}

.header-action-btn {
  background: var(--white);
  position: relative;
  width: 50px;
  text-align: center;
}

.header-action-btn ion-icon {
  margin-inline: auto;
  font-size: 22px;
  margin-top: 3px;
}

.header-icon-label {
  color: var(--sonic-silver);
  font-size: var(--fs-10);
  transition: var(--transition-1);
}

.header-action-btn:is(:hover, :focus) .header-icon-label {
  color: var(--eerie-black);
}

.header-action-btn .btn-badge {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -5px;
  right: 0;
  background: var(--background, var(--eerie-black));
  /* background: var(--eerie-black); */
  display: grid;
  place-items: center;
  color: var(--white);
  font-size: 13px;
  border-radius: 50%;
}

.header-action-btn .btn-badge.green {
  background: var(--middle-blue-green);
}

.navbar {
  background: var(--white);
  position: fixed;
  top: 0;
  right: -300px;
  max-width: 300px;
  width: 100%;
  height: 100%;
  padding: 30px 25px;
  z-index: 3;
  visibility: hidden;
  transition: 0.25s var(--cubic-out);
}

.navbar.active {
  visibility: visible;
  transform: translateX(-300px);
  transition: 0.5s var(--cubic-in);
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.nav-close-btn ion-icon {
  font-size: 23px;
  background: var(--white);
}

.navbar-link {
  padding-block: 10px;
  color: var(--eerie-black);
}

.navbar-list > li:not(:last-child) {
  border-bottom: 1px solid var(--cultured);
}

.overlay {
  position: fixed;
  inset: 0;
  background: var(--black);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
  z-index: 2;
}

.overlay.active {
  opacity: 0.7;
  pointer-events: all;
}

@keyframes fade {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}
/* Footer */

.footer-top {
  background: var(--cultured);
  padding-block: var(--section-padding);
}

.footer-top .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footer .logo {
  margin-bottom: 20px;
}
.footer .footer-text {
  margin-bottom: 20px;
  line-height: 1.6;
}

.social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.social-link {
  color: var(--eerie-black);
  font-size: 18px;
  width: 35px;
  height: 35px;
  border: 1px solid var(--sonic-silver);
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.social-link:is(:hover, :focus) {
  background: var(--eerie-black);
  color: var(--white);
  border-color: var(--eerie-black);
}

.footer-list {
  width: 100%;
}

.footer-list-title {
  color: var(--eerie-black);
  font-size: var(--fs-5);
  font-weight: var(--fw-500);
  margin-bottom: 15px;
}

.footer-link {
  position: relative;
  color: inherit;
  padding-block: 5px;
  transition: var(--transition-1);
}

.footer-link:is(:hover, :focus) {
  color: var(--eerie-black);
  transform: translateX(15px);
  transition: var(--transition-1);
}
.footer-bottom {
  padding-block: 20px;
}
.footer-bottom a {
  color: inherit;
}
.copyright {
  margin-bottom: 15px;
  text-align: center;
}

.copyright a {
  display: inline-block;
  color: var(--eerie-black);
  font-weight: var(--fw-500);
}

.footer-bottom-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px 15px;
  margin-bottom: 15px;
}
.footer-bottom-link:is(:hover, :focus) {
  color: var(--eerie-black);
}

.payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/* Media Queries */

/* 480Px width Screens */
@media (min-width: 480px) {
  :root {
    --fs-1: 3rem;
    --fs-2: 2rem;
  }

  /* Footer */
  .foter-brand {
    width: 100%;
  }

  .footer-text {
    width: 470px;
  }
  .footer-list {
    width: calc(50% - 20px);
  }
}

/* 580Px width Screens */
@media (min-width: 580px) {
  :root {
    --fs-1: 3.75rem;
    --fs-2: 2.375rem;
    --fs-2: 2.25rem;
  }
}

/* 768Px width Screens */
@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }

  .footer-list {
    width: calc(33.33% - 27px);
  }

  .footer-bottom .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px 40px;
  }
}

/* 992Px width Screens */
@media (min-width: 992px) {
  :root {
    --fs-1: 5rem;
  }

  body {
    padding-block: 0;
  }

  .container {
    width: 950px;
  }

  .header {
    position: relative;
    padding-block: 15px;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
    margin-bottom: 67px;
  }

  .header.active {
    position: relative;
    box-shadow: none;
  }
  .header .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .header-search .input-field:focus {
    outline: 1px solid var(--eerie-black);
  }

  .header .logo {
    margin-left: auto;
  }

  .hide-search {
    display: none;
  }

  .nav-open-btn,
  .header-action-btn:is(:nth-child(2)),
  .navbar-top,
  .overlay {
    display: none;
  }

  .header-actions {
    all: unset;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
  }

  .navbar {
    all: unset;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
    background: var(--white);
  }

  .header.hidden .navbar {
    position: fixed;
    top: 0;
    box-shadow: 0 2px 20px hsla(0, 0%, 0%, 0.1);
    /* transform: translateY(%); */
    transition: all 1s;
    /* tr: var(--transition-1); */
  }
  /* .header .navbar {
      top: 0;
      transition: all 1s;
    } */

  .navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .navbar-list > li:not(:last-child) {
    border-bottom: none;
  }

  .navbar-link {
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
    padding-block: 20px;
  }

  .navbar-link:is(:hover, :focus) {
    color: var(--ocean-green);
  }
}

/* 1200Px width Screens */
@media (min-width: 1200px) {
  :root {
    --fs-1: 6.25rem;
  }

  .container {
    max-width: 1150px;
    position: relative;
    left: 250px;
    /* background-color: rebeccapurple; */
  }
  .header-actions {
    position: relative;
  }

  /**About Section*/

  .about-container {
    width: 100%;
    position: relative;
  }
  .about-back {
    width: 100%;
    height: 500px;
    background: linear-gradient(
      150deg,
      var(--ocean-green) 0%,
      var(--middle-blue-green) 100%
    );
    z-index: 2;
    position: relative;
    /* right: -100%; */

    /* transform: scale(0.1); */
    /* animation: about-back-frame 0.8s ease-in-out forwards; */
  }

  .about-back .back-one {
    height: 30%;
    /* background: linear-gradient(
      120deg,
      var(--ocean-green) 0%,
      var(--middle-blue-green) 100%
    ); */
  }

  .about-back .back-two {
    height: 70%;
    /* background: var(--ocean-green); */
  }

  .about-front {
    position: absolute;
    left: -100%;
    display: flex;
    justify-content: space-between;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 400px;
    z-index: 3;
    font-size: var(--fs-6);
    overflow: hidden;
    transform: scale(1.3);
    /* transform-origin: left; */
    animation: about-front-frame 1.5s ease-in-out forwards;
    /* animation-fill-mode: ; */
  }

  @keyframes about-back-frame {
    50% {
      right: 0;
    }
    to {
      right: 0;
      transform: scale(1);
    }
  }

  @keyframes about-front-frame {
    /* from {
      transform: scale(0.1);
      left: ;
    } */
    to {
      transform: scale(1);
    }
  }

  .about-front .front-one {
    /* width: 50%; */
    flex: 1 1 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: azure;
  }
  .about-front .about-header {
    font-size: var(--fs-2);
    font-weight: var(--fw-600);
    margin-inline: 20px;
    margin-top: 40px;
    background: linear-gradient(
      30deg,
      var(--ocean-green) 0%,
      var(--middle-blue-green) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .about-front .about-desc {
    margin-left: 20px;
  }

  .about-front .shopBtn {
    margin-left: 20px;
    width: 150px;
    height: 35px;
    text-align: center;
    border-radius: 40px;
    padding-inline: 30px;
    margin-top: 20px;
    color: var(--cultured);
    background: linear-gradient(
      30deg,
      var(--ocean-green) 0%,
      var(--middle-blue-green) 100%
    );

    color: var(--cultured);
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-out;
  }

  .about-front .shopBtn:hover {
    transform: scale(1.05);
  }
  .about-front .shopBtn:active {
    transform: scale(1.05) translateY(10px);
  }

  .about-front .front-two {
    /* width: 50%; */
    flex: 1 1 50%;
    height: 100%;
  }
  .about-front .front-two img {
    width: 100%;
    /* object-fit: cover; */
    /* height: 100%; */
  }

  .footer-brand {
    width: calc(40% -30px);
  }

  .footer-text {
    max-width: 340px;
  }

  .footer-list {
    width: calc(20% - 31px);
  }

  .footer-bottom .container {
    justify-content: space-around;
  }
}
