/* *********************************** */

/* .overlay  */
/* .header-actions, */
/* .navbar, */
.header-search {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--white);
  width: 100%;
  padding-block: 20px;
  z-index: 4;
  transition: var(--transition-1);
}

.header.active {
  position: fixed;
  box-shadow: 0 5px 20px hsla(0, 0%, 0%, 0.1);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-open-btn {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
}
.nav-open-btn span {
  width: 20px;
  height: 2px;
  background: var(--black);
  transform: var(--transition-1);
}

.nav-open-btn span:nth-child(2) {
  transform: scaleX(0.5);
  transform-origin: right;
}

.nav-open-btn:is(:hover, :focus) span:nth-child(2) {
  transform: scaleX(1);
}

.header-actions {
  background: var(--white);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  padding-block: 16px 20px;
  box-shadow: 0 -2px 20px hsla(0, 0%, 0%, 0.1);
  z-index: 1;
}

.header-action-btn {
  background: var(--white);
  position: relative;
  width: 50px;
  text-align: center;
}

.header-action-btn ion-icon {
  margin-inline: auto;
  font-size: 22px;
  margin-top: 3px;
}

.header-icon-label {
  color: var(--sonic-silver);
  font-size: var(--fs-10);
  transition: var(--transition-1);
}

.header-action-btn:is(:hover, :focus) .header-icon-label {
  color: var(--eerie-black);
}

.header-action-btn .btn-badge {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -5px;
  right: 0;
  background: var(--background, var(--eerie-black));
  /* background: var(--eerie-black); */
  display: grid;
  place-items: center;
  color: var(--white);
  font-size: 13px;
  border-radius: 50%;
}

.header-action-btn .btn-badge.green {
  background: var(--middle-blue-green);
}

.navbar {
  background: var(--white);
  position: fixed;
  top: 0;
  right: -300px;
  max-width: 300px;
  width: 100%;
  height: 100%;
  padding: 30px 25px;
  z-index: 3;
  visibility: hidden;
  transition: 0.25s var(--cubic-out);
}

.navbar.active {
  visibility: visible;
  transform: translateX(-300px);
  transition: 0.5s var(--cubic-in);
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.nav-close-btn ion-icon {
  font-size: 23px;
  background: var(--white);
}

.navbar-link {
  padding-block: 10px;
  color: var(--eerie-black);
}

.navbar-list > li:not(:last-child) {
  border-bottom: 1px solid var(--cultured);
}

.overlay {
  position: fixed;
  inset: 0;
  background: var(--black);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
  z-index: 2;
}

.overlay.active {
  opacity: 0.7;
  pointer-events: all;
}
/* Footer */

.footer-top {
  background: var(--cultured);
  padding-block: var(--section-padding);
}

.footer-top .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footer .logo {
  margin-bottom: 20px;
}
.footer .footer-text {
  margin-bottom: 20px;
  line-height: 1.6;
}

.social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.social-link {
  color: var(--eerie-black);
  font-size: 18px;
  width: 35px;
  height: 35px;
  border: 1px solid var(--sonic-silver);
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.social-link:is(:hover, :focus) {
  background: var(--eerie-black);
  color: var(--white);
  border-color: var(--eerie-black);
}

.footer {
  margin-top: 150px;
}

.footer-list {
  width: 100%;
}

.footer-list-title {
  color: var(--eerie-black);
  font-size: var(--fs-5);
  font-weight: var(--fw-500);
  margin-bottom: 15px;
}

.footer-link {
  position: relative;
  color: inherit;
  padding-block: 5px;
  transition: var(--transition-1);
}

.footer-link:is(:hover, :focus) {
  color: var(--eerie-black);
  transform: translateX(15px);
  transition: var(--transition-1);
}
.footer-bottom {
  padding-block: 20px;
}
.footer-bottom a {
  color: inherit;
}
.copyright {
  margin-bottom: 15px;
  text-align: center;
}

.copyright a {
  display: inline-block;
  color: var(--eerie-black);
  font-weight: var(--fw-500);
}

.footer-bottom-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px 15px;
  margin-bottom: 15px;
}
.footer-bottom-link:is(:hover, :focus) {
  color: var(--eerie-black);
}

.payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/* .contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 200px;
    margin-block: auto;
  } */

.contact-info img {
  height: 60vh;
}

/* Media Queries */

/* 480Px width Screens */
@media (min-width: 480px) {
  :root {
    --fs-1: 3rem;
    --fs-2: 2rem;
  }
  .slide-show-container .btns {
    position: absolute;
    top: -50px;
  }

  .category-list > li {
    width: calc(50% - 15px);
  }

  .product-list > li {
    width: calc(50% - 12.5px);
  }

  /* Footer */
  .foter-brand {
    width: 100%;
  }

  .footer-text {
    width: 470px;
  }
  .footer-list {
    width: calc(50% - 20px);
  }
}

/* 580Px width Screens */
@media (min-width: 580px) {
  :root {
    --fs-1: 3.75rem;
    --fs-2: 2.375rem;
    --fs-2: 2.25rem;
  }

  .container {
    max-width: 550px;
    margin-inline: auto;
  }
  .slide-show-container .btns {
    position: absolute;
    top: -20px;
  }
}

/* 768Px width Screens */
@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
  .hero {
    background-position: center;
    /* min-height: 800px; */
  }

  .slide-show-container .btns {
    position: absolute;
    top: -20px;
  }

  .footer-list {
    width: calc(33.33% - 27px);
  }

  .footer-bottom .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px 40px;
  }
}

/* 992Px width Screens */
@media (min-width: 992px) {
  :root {
    --fs-1: 5rem;
  }

  body {
    padding-block: 0;
  }

  .container {
    width: 950px;
  }

  .header {
    position: relative;
    padding-block: 15px;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
    margin-bottom: 67px;
  }

  .header.active {
    position: relative;
    box-shadow: none;
  }
  .header .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .header-search {
    display: block;
    position: relative;
    width: max-content;
  }

  .header-search .input-field {
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    width: 280px;
    padding: 12px 30px;
    border-radius: 6px;
    transition: var(--transition-1);
  }

  .header-search .input-field:focus {
    outline: 1px solid var(--eerie-black);
  }

  .header-search .search-btn {
    position: absolute;
    top: 32%;
    right: 15px;
    transform: translate(-50%);
    font-size: 20px;
    color: var(--eerie-black);
  }

  .header-search .search-btn ion-icon {
    --ionicon-stroke-width: 30px;
  }
  .header .logo {
    margin: auto;
  }

  .hide-search {
    display: none;
  }

  .nav-open-btn,
  .navbar-top,
  .overlay {
    display: none;
  }

  .header-actions {
    all: unset;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
  }

  .navbar {
    all: unset;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
    background: var(--white);
  }

  .header.hidden .navbar {
    position: fixed;
    top: 0;
    box-shadow: 0 2px 20px hsla(0, 0%, 0%, 0.1);
    /* transform: translateY(%); */
    transition: all 1s;
    /* tr: var(--transition-1); */
  }

  .navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .navbar-list > li:not(:last-child) {
    border-bottom: none;
  }

  .navbar-link {
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
    padding-block: 20px;
  }

  .navbar-link:is(:hover, :focus) {
    color: var(--ocean-green);
  }
  .slide-show-container {
    width: 85%;
  }

  .slide-show-container .btns {
    position: absolute;
    top: -20px;
  }

  .category-list > li:not(:first-child, :nth-child(2)) {
    width: calc(25% - 23px);
  }

  .product-list > li {
    width: calc(33.33% - 17px);
  }

  .product-card .card-actions {
    position: absolute;
    bottom: 20px;
    width: 100%;

    transform: translateY(100px);
    visibility: hidden;
    transition: var(--transition-1);
  }

  .product-card .cart-btnm,
  .product-card .cart-btn ion-icon {
    font-size: 12px;
  }

  .product-card .card-banner {
    overflow: hidden;
  }

  .product-card .card-banner:hover .card-actions {
    visibility: visible;
    transform: translateY(0);
  }

  .product-card .card-action-btn:first-child {
    border-radius: 6px 0 0 6px;
  }

  .product-card .card-action-btn:last-child {
    border-radius: 0px 6px 6px 0;
  }
  .cart {
    /* background: var(--eerie-black); */
  }
  .cart .container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    /* background: red; */
    gap: 30px;
  }
  .cart-focus-img {
    width: 510px;
    height: 600px;
  }
  .cart-focus-img img {
    width: inherit;
    height: inherit;
  }
  .cart-focus-img:hover {
    transform: scale(1.05);
  }

  .items-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    /* background-color: blue; */
    gap: 5px;
  }
  .items-list li {
    background: var(--cultured);
    color: var(--eerie-black);
    width: 100%;
    height: calc(100% / 5);
    padding: 20px;
    margin-top: 5px;
    border-radius: 10px;
  }
  .items-list li:hover {
    cursor: pointer;
  }
  .cart-item {
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    gap: 10px;
  }
  .items-scroll {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .cart-item-details {
    width: 70%;
    font-size: var(--fs-7);
    color: var(--eerie-black);
  }
  .cart-item-prbn {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fs-4);
    font-weight: var(--fw-600);
    color: var(--eerie-black);
  }

  .delete-cart-item {
    position: relative;
    width: 50px;
    left: 170px;
    z-index: 1;
    background: var(--cultured);
  }
  .delete-cart-item:hover {
    color: red;
  }

  .count-btn {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 140px;
    font-size: var(--fs-7);
  }

  .value-button {
    display: inline-block;
    border: 1px solid var(--white);
    margin: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    background: var(--white);
    color: var(--ocean-green);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .value-button:hover {
    cursor: pointer;
  }

  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }

  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }

  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }

  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    margin: 0px;
    width: 40px;
    height: 40px;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .total-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left: 32%;
    width: 40%;
    top: 50px;
    font-size: var(--fs-3);
    font-weight: var(--fw-500);
  }

  .total-price p:not(:first-child) {
    color: var(--ocean-green);
    font-weight: var(--fw-600);
  }

  .buy-btn {
    position: relative;
    left: 32%;
    top: 100px;
    width: 40%;
    height: 50px;
    text-align: center;
    border-radius: 20px;
    font-size: var(--fs-5);
    background: linear-gradient(
      30deg,
      var(--ocean-green) 0%,
      var(--middle-blue-green) 100%
    );

    color: var(--cultured);
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-out;
  }

  .buy-btn:hover {
    transform: scale(1.05);
  }
  .buy-btn:active {
    transform: scale(1.05) translateY(10px);
  }
}

/* 1200Px width Screens */
@media (min-width: 1200px) {
  :root {
    --fs-1: 6.25rem;
  }

  .container {
    max-width: 1150px;
  }

  .header-search .input-field {
    width: 350px;
  }

  .slide-show-container .btns {
    position: absolute;
    top: -20px;
  }
  .product-list > li {
    width: calc(25% - 18.8px);
  }

  .footer-brand {
    width: calc(40% -30px);
  }

  .footer-text {
    max-width: 340px;
  }

  .footer-list {
    width: calc(20% - 31px);
  }

  .footer-bottom .container {
    justify-content: space-around;
  }
}
