.contact-info img {
  height: 60vh;
}

/* Media Queries */

/* 480Px width Screens */
@media (min-width: 480px) {
  :root {
    --fs-1: 3rem;
    --fs-2: 2rem;
  }
  .slide-show-container .btns {
    position: absolute;
    top: -50px;
  }

  .category-list > li {
    width: calc(50% - 15px);
  }

  .product-list > li {
    width: calc(50% - 12.5px);
  }

  /* Footer */
  .foter-brand {
    width: 100%;
  }

  .footer-text {
    width: 470px;
  }
  .footer-list {
    width: calc(50% - 20px);
  }
}

/* 580Px width Screens */
@media (min-width: 580px) {
  :root {
    --fs-1: 3.75rem;
    --fs-2: 2.375rem;
    --fs-2: 2.25rem;
  }

  .container {
    max-width: 550px;
    margin-inline: auto;
  }
  .slide-show-container .btns {
    position: absolute;
    top: -20px;
  }
}

/* 768Px width Screens */
@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
  .hero {
    background-position: center;
    /* min-height: 800px; */
  }

  .slide-show-container .btns {
    position: absolute;
    top: -20px;
  }

  .footer-list {
    width: calc(33.33% - 27px);
  }

  .footer-bottom .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px 40px;
  }
}

/* 992Px width Screens */
@media (min-width: 992px) {
  :root {
    --fs-1: 5rem;
  }

  body {
    padding-block: 0;
  }

  .container {
    width: 950px;
  }

  .header {
    position: relative;
    padding-block: 15px;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
    margin-bottom: 67px;
  }

  .header.active {
    position: relative;
    box-shadow: none;
  }
  .header .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .header-search {
    display: block;
    position: relative;
    width: max-content;
  }

  .header-search .input-field {
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    width: 280px;
    padding: 12px 30px;
    border-radius: 6px;
    transition: var(--transition-1);
  }

  .header-search .input-field:focus {
    outline: 1px solid var(--eerie-black);
  }

  .header-search .search-btn {
    position: absolute;
    top: 32%;
    right: 15px;
    transform: translate(-50%);
    font-size: 20px;
    color: var(--eerie-black);
  }

  .header-search .search-btn ion-icon {
    --ionicon-stroke-width: 30px;
  }
  .header .logo {
    margin: auto;
  }

  .hide-search {
    display: none;
  }

  .nav-open-btn,
  .navbar-top,
  .overlay {
    display: none;
  }

  .header-actions {
    all: unset;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
  }

  .navbar {
    all: unset;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
    background: var(--white);
  }

  .header.hidden .navbar {
    position: fixed;
    top: 0;
    box-shadow: 0 2px 20px hsla(0, 0%, 0%, 0.1);
    /* transform: translateY(%); */
    transition: all 1s;
    /* tr: var(--transition-1); */
  }
  /* .header .navbar {
    top: 0;
    transition: all 1s;
  } */

  .navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .navbar-list > li:not(:last-child) {
    border-bottom: none;
  }

  .navbar-link {
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
    padding-block: 20px;
  }

  .navbar-link:is(:hover, :focus) {
    color: var(--ocean-green);
  }
  .slide-show-container {
    width: 85%;
  }

  .slide-show-container .btns {
    position: absolute;
    top: -20px;
  }

  .category-list > li:not(:first-child, :nth-child(2)) {
    width: calc(25% - 23px);
  }

  .product-list > li {
    width: calc(33.33% - 17px);
  }

  .product-card .card-actions {
    position: absolute;
    bottom: 20px;
    width: 100%;

    transform: translateY(100px);
    visibility: hidden;
    transition: var(--transition-1);
  }

  .product-card .cart-btnm,
  .product-card .cart-btn ion-icon {
    font-size: 12px;
  }

  .product-card .card-banner {
    overflow: hidden;
  }

  .product-card .card-banner:hover .card-actions {
    visibility: visible;
    transform: translateY(0);
  }

  .product-card .card-action-btn:first-child {
    border-radius: 6px 0 0 6px;
  }

  .product-card .card-action-btn:last-child {
    border-radius: 0px 6px 6px 0;
  }
  .contact-container {
    background: var(--cultured);
    position: relative;
    /* left: 600px; */
    height: 400px;
    margin: auto;
    top: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 700px;
    overflow: hidden;
    color: var(--eerie-black);
    box-shadow: 10px 10px 5px 0px rgba(226, 226, 226, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(226, 226, 226, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(226, 226, 226, 0.75);
    border-radius: 10px;
  }

  .contact-container img {
    position: relative;
    height: 85%;
    margin: 30px;
  }

  .contact-container h1 {
    position: absolute;
    right: 80px;
    top: 20px;
    font-size: 50px;
    color: var(--eerie-black);
  }

  .form-container form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 17px;
    width: 600px;
    height: 300px;
    top: 50px;
    border: 2px solid var(--eerie-black);
    border-right: none;
    border-bottom: none;
    padding: 24px;
    font-size: 15px;
  }
  .form-container form button {
    /* position: relative;
    align-items: center;
    left: 60px;
    border: 2px solid var(--ocean-green); */
    width: 55%;
    text-align: center;
    /* margin: 0 auto; */
    font-size: 18px;
    padding: 10px 0;
    background: linear-gradient(
      30deg,
      var(--ocean-green) 0%,
      var(--middle-blue-green) 100%
    );

    color: var(--cultured);
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-out;
  }

  .form-container form button:hover {
    transform: scale(1.05);
  }
  .form-container form button:active {
    transform: scale(1.05) translateY(10px);
  }
  .form-container form input {
    background: none;
    border-bottom: 2px solid var(--eerie-black);
    color: var(--ocean-green);
  }

  .mb-2 {
    margin-top: 5px;
    color: red;
  }
  .hidden {
    display: none;
  }

  p {
    font-size: 10px;
  }
  .disabled {
    background: var(--cultured) !important;
    color: var(--eerie-black) !important;
    pointer-events: none !important;
  }
}

/* 1200Px width Screens */
@media (min-width: 1200px) {
  :root {
    --fs-1: 6.25rem;
  }

  .container {
    max-width: 1150px;
  }

  .header-search .input-field {
    width: 350px;
  }

  .slide-show-container .btns {
    position: absolute;
    top: -20px;
  }
  .product-list > li {
    width: calc(25% - 18.8px);
  }

  .footer-brand {
    width: calc(40% -30px);
  }

  .footer-text {
    max-width: 340px;
  }

  .footer-list {
    width: calc(20% - 31px);
  }

  .footer-bottom .container {
    justify-content: space-around;
  }
}
